@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-2xl;
  }
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background: radial-gradient(circle at 10% 20%, rgb(11, 15, 25) 0%, rgb(17, 24, 39) 90%);
}
